<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  DirectoryIndex index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . config/router.php [L,QSA]

# /category/live → /categories/live.php
RewriteRule ^category/([a-zA-Z0-9_-]+)$ categories/$1.php [L]
</IfModule>